
    
    section > article {
        position: absolute;
        top: 43%;
        left: 3%;
        right: 5%;
        bottom: 80px;
        background-color: rgba(255,255,255,.3);
        border-radius: 4px;
        border: 3px solid black;
        overflow-y: auto;
        box-shadow: insert 0 0 200px rgba (255,255,255,.3);
    }
}
        
@media only screen and (max-width: 800px) {   
}
        
        
@media only screen and (max-width: 500px) {   
        
 }

@media only screen and (max-width: 350px) {
    
}
